

<div id="map" class="map"></div>
  <div id="popup" class="ol-popup">
  <mat-card>
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content">
      <form class="tag-form">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Titre</mat-label>
          <input matInput placeholder="Situation">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder=""></textarea>
        </mat-form-field>
      </form>
    </div>
  </mat-card>
  </div>

