.map {
  height: 87%;
  width: 100%;
}
#popupCard {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  width:max-content;
  border-radius: 16px; /* Rounded corners for the card */
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */

}
.card-container {
  display: flex;
  flex-wrap: wrap;
}

#completedCard {
  min-width: min-content;
  max-width:  30%; /* Set a flexible width */
  min-height: min-content; /* Adjust height as needed */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* width */
#completedCardText {
  max-height: 100%; /* Limits height to 80% of the viewport */
  overflow-y:auto; /* Enables vertical scrolling if content overflows */
  scrollbar-width: thin; /* Thin scrollbar */
  scroll-behavior:auto;
  overflow-x: hidden; /* Hides the horizontal scrollbar */
}

.multiline {
  white-space: pre-wrap;
  word-break: break-word;
}

.completedCardClose {
  cursor: pointer;
  position: absolute;
  top: 4%;
  right: 4%;
}

body {
  background: #141926;
  font-family: haas;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}


.icon {
  max-width: 22%;
  max-height: 22%;
  background-size: cover; /* Adjust this to fit the icon size */
  display: inline-block;
  padding-right: 3%;
  background-color: transparent;
}
.icon-completed-pieton {
  max-width: 10%;
  max-height: 10%;
  background-size: cover; /* Adjust this to fit the icon size */
  display: inline-block;
  padding-right: 3%;
  margin-bottom: 5%;
  background-color: transparent;
}
.icon-pieton {
  max-width: 14%;
  max-height: 14%;
  background-size: cover; /* Adjust this to fit the icon size */
  display: inline-block;
  padding-right: 3%;
  margin-bottom: 5%;
  background-color: transparent;
}


.icon-completed{
  max-width: 25%;
  max-height: 25%;
  background-size: cover; /* Adjust this to fit the icon size */
  display: inline-block;
  padding: 5%;
  background-color: transparent;
  background-position: center; 
}
.mat-form-field-outline-start, .mat-form-field-outline-end {
  border-radius: 16px !important;
}

.title-container {
  display: flex;
  align-items: center; /* Vertically centers the content */
  justify-content: center; /* Horizontally centers the content */
  margin-bottom: 8px; /* Adds space between the title and the description */
}

.title-container img {
  margin-right: 8px;  /* Adds space between the image and the title */
}

.title-text {
  margin-left: 8px; /* Adds space between the image and the title */
}




button.clicked .fa-heart  {
  animation: beatHeart 0.5s linear;
  color: red; /* Change heart color when clicked */
}

button.clicked .fa-flag {
  animation: beatHeart 0.5s linear;
  color: red; /* Change heart color when clicked */
}

@keyframes beatHeart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.counter {
  margin-left: 5px;
  font-size: 14px;
}


.ol-control {
  background: black;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
}


  .responsive-card {
    width: 100%; /* Take full width of the container */
    height: auto; /* Adjust height automatically */
    border-radius: 16px !important; /* Ensure rounded corners */
    overflow: hidden; /* Prevent overflow of content */
  }

  @media (max-width: 768px) {

    .map {
      width: 100%;
      position: relative;
    }
    
    .icon-completed {
      width: 80%; /* Increase width for smaller screens */
      height: 80%; /* Adjust height to match */
      padding: 3%;  /* Less padding for mobile */
    }
    #geolocationDiv {
      padding-top: 4%;
    }
    .responsive-card {
      max-width: 80%; /* Card takes almost the full width on smaller screens */
    }
  
    .title-text {
      font-size: 16px; /* Reduce title font size for mobile */
    }


    #completedCard {
      max-width:  50%; /* Set a flexible width */
      max-height: 35%;
    }

    #popupCard {
      max-width: 70%;
    }

    .label {
      font-size: 12px; /* Reduce font size for mobile */
    }

    .icon-completed-pieton {
      max-width: 18%;
      max-height: 18%;
    }
    .icon-pieton{
      max-width: 20%;
      max-height: 20%;
    }
    
    .icon-completed{
      max-width: 35%;
      max-height: 35%;
    }
  
  }
    


   


  
@media (max-height: 500px) {
  .map {
    height: 100vh;
    width: 100%;
    position: relative;
  }
  #popupCard {
    max-width: fit-content;
    max-height: fit-content;
  }


}
  
