
<!-- Header-->
<!-- <header class="bg-primary bg-gradient text-white">
  <div class="container px-4 text-center">
      <h1 class="fw-bolder">Bienvenue dans la cartographie émotionnelle!</h1>
      <p class="lead">{{loremIpsum}}</p>
      <a class="btn btn-lg btn-outline-atv" href="#about">gravida eget massa</a>
  </div>
</header> -->


<div id="map" class="map"></div>
  <div id="popup" class="ol-popup">
    <mat-card *ngIf="showPopup" id="popupCard">
      <div id="popup-content">
        <form class="tag-form" >
          <mat-form-field class="full-width " appearance="fill">
            <mat-label>Titre</mat-label>
            <input name="titleInput"
              matInput placeholder="Titre"
              [(ngModel)]="currentTag.title">
          </mat-form-field>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>Émotion</mat-label>
              <mat-select name="Sélection émotion"
                [(ngModel)]="selectedEmotion">
                <mat-option *ngFor="let emotion of emotions" [ngStyle]="{'color': emotion.rgb}" [value]="emotion.name">
                  <i class="fa-solid fa-{{emotion.icon}} fa-xl"></i>{{emotion.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="fill">
              <mat-label>Transport</mat-label>
              <mat-select name="Sélection transport"
                [(ngModel)]="selectedTransport">
                <mat-option *ngFor="let transport of transports" [value]="transport.name">
                  <i class="fa-solid fa-{{transport.icon}} fa-xl" ></i>{{transport.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Description</mat-label>
            <textarea name="descInput"
              matInput placeholder="Description"
              [(ngModel)]="currentTag.description"></textarea>
           </mat-form-field>
          
          <div class="row">
            <div class="col-md-4">
              <button  *ngIf="isFormValid()"
                mat-raised-button color="accent"
                matTooltip="Sauvegarder ce témoigage"
                (click)="onSubmit()">Cartographier
              </button>
              <button  *ngIf="!isFormValid()! "
                mat-stroked-button color="accent"
                matTooltip="Formulaire incomplet.">Cartographier
              </button>
            </div>      
            <div class="col-md-5">
              <!-- <button type="button" mat-raised-button color="primary"
              (click)="fileInput.click()">Téléverser un image</button>
              <input hidden (change)="onFileSelected()" #fileInput type="file" id="file"> -->
            </div> 
            <div class="col-md-3">
             <button mat-raised-button
               matTooltip="Abandonner la sauvegarde."
               (click)="initializeOnLoad()">Fermer
             </button>
            </div>
          </div>
        </form>
      </div>
    </mat-card> 
     <mat-card *ngIf="disableEdit"
      class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{currentTag.title}}</mat-card-title>
        <mat-card-subtitle>{{currentTag.emotion}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image id="cardImg"
       src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{currentTag.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="row">
          <div class="col-md-2">
            <button mat-fab color="warn" aria-label="Example icon button with a heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
          <div class="col-md-8">
          </div>
          <div class="col-md-2">
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
              <mat-icon>delete</mat-icon>
            </button>  
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <!-- Contact section-->
  <!-- <section id="contact" class="bg-secondary">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Contactez nous!</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
            </div>
        </div>
    </div>
  </section> -->
  <!-- Footer-->
  <footer class="py-5 bg-dark">
      <div class="container px-4"><p class="m-0 text-center text-white">&copy; Rues sans peurs</p></div>
  </footer>
