<h2 mat-dialog-title>Ressources</h2>
<mat-dialog-content class="mat-typography">
  <h3>Lorem ipsum dolor sit amet</h3>
  <p>Elementum pulvinar etiam non quam lacus suspendisse faucibus. In cursus turpis massa tincidunt
    dui ut ornare lectus sit. A pellentesque sit amet porttitor eget.</p>

  <h3>Lorem ipsum dolor sit amet &amp; Lorem ipsum dolor sit amet</h3>
  <p>Elementum pulvinar etiam non quam lacus suspendisse faucibus. In cursus turpis massa tincidunt
    dui ut ornare lectus sit. A pellentesque sit amet porttitor eget.</p>

  <h3>Lorem ipsum dolor sit amet</h3>
  <p>Elementum pulvinar etiam non quam lacus suspendisse faucibus. In cursus turpis massa tincidunt
    dui ut ornare lectus sit. A pellentesque sit amet porttitor eget.</p>

  <h3>Lorem ipsum dolor sit amet</h3>
  <p>Elementum pulvinar etiam non quam lacus suspendisse faucibus. In cursus turpis massa tincidunt
     dui ut ornare lectus sit. A pellentesque sit amet porttitor eget.</p>

  <h3>Lorem ipsum dolor sit amet</h3>

  <p>Elementum pulvinar etiam non quam lacus suspendisse faucibus. In cursus turpis massa tincidunt 
    dui ut ornare lectus sit. A pellentesque sit amet porttitor eget.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>
