<div id="modal-container">
  <a href="#"></a>
  <mat-dialog-content class="mat-typography p-3 rounded bg-light">

    <h1 class="text-center mb-4"><strong>Carte interactive  -  Rues sans peur</strong></h1>
      <p class="text-justify p-1">
        Cette carte interactive a pour objectif de documenter les lieux et les trajets sécurisants et insécurisants
        en Capitale-Nationale et Chaudière-Appalaches. Elle est l’occasion de témoigner d’épisodes de harcèlement de rue et/ou d’insécurités vécus,
        perçus, ou entendus, tout en se solidarisant autour d’une lutte commune contre le harcèlement de rue!
        <br> <br>
        Cliquez sur la carte à l’endroit où vous souhaitez ajouter un témoignage, puis sélectionnez les catégories
        qui correspondent à votre situation. Vous pouvez choisir d’y apposer un témoignage de harcèlement de rue,
        ou bien un témoignage sur un aménagement que vous considérez insécurisant ou au contraire, sécurisant (exemple
        : une rue sombre anxiogène, ou un beau parc paisible).
        <br> <br>
        Cette carte a été réalisée dans le cadre du projet Rues sans peur, une initiative d’Accès transports viables. Pour plus d'informations sur le projet,
        visitez : <br>
        <a href="https://transportsviables.org/projets/harcelement-de-rue" target="_blank">transportsviables.org/projets/harcelement-de-rue</a>
        <br><br>
       <a style="margin-right: 45%;" href="https://github.com/patemard" target="_blank" title="Réalisation technique"><i class="fa fa-github fa-2x" aria-hidden="true" style="color: black"></i></a>

      </p>
      <h2 class="mt-3"><strong>Définition du harcèlement de rue</strong></h2>
      <p class="text-justify p-1">
        C'est une forme de violence commise par une
        personne inconnue sous la forme d'un propos ou
        d'un comportement à la fois intrusif, dégradant
        et non-sollicité dans un lieu public (la rue, un parc, un autobus, un bar, un centre commercial, etc.).
      </p>

      <h2 class="mt-4"><strong>Exemples de harcèlement de rue</strong></h2>
      <p class="text-justify p-1">
        Regards insistants, insultes, attouchements, propos à caractère sexuel, menaces, agressions, airdrops
        d'images non sollicitées, regards désapprobateurs, etc.:
      </p>

      <br>
      <p>
       <i>
        Si votre témoignage concerne plutôt un enjeu lié à la sécurité routière, nous vous invitons à le partager via la carte
        interactive suivante <a href="https://onmarcheonroule.org/">On marche On roule</a>. 
        (Tout partage de témoignage qui n'est pas lié aux enjeux de harcèlement et/ou au sentiment d'(in)sécurité devra par le fait même être retiré de la carte.)
       </i> 
      </p>

  </mat-dialog-content>
  <mat-dialog-actions align="end" class="d-flex justify-content-end mt-3">

    <button
      mat-raised-button
      color="violet-atv"
      mat-dialog-close
      class="btn btn-primary rounded-pill px-4 py-2">
      Fermer
    </button>
  </mat-dialog-actions>
</div>
