<div id="modal-container" >
  <h2 mat-dialog-title>Ressources d’aide psychologique</h2>
  <mat-dialog-content class="mat-typography">
    <h3><strong>Lorem ipsum dolor sit amet</strong></h3>
    <p>{{shortLoremIpsum}}</p>

    <h3><strong>ipsum dolor sit amet &amp; Lorem ipsum dolor sit amet</strong> </h3>
    <p>{{shortLoremIpsum}}</p>

    <h3><strong>Lorem ipsum dolor sit amet</strong></h3>
    <p>{{shortLoremIpsum}}</p>

    <h3><strong>Lorem ipsum dolor sit amet</strong></h3>
    <p>{{shortLoremIpsum}}</p>

    <h3><strong>Lorem ipsum dolor sit amet</strong></h3>
    <p>{{shortLoremIpsum}}</p>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Fermer</button>
  </mat-dialog-actions>
</div>
