.button {
  box-shadow: inset 0 1px 0 0 #ffffff;
  background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family:haasBold;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
  outline: 0;
}
.activebutton {
  box-shadow: inset 0 1px 0 0 #dcecfb;
  background: #bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family:haasBold;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0 1px 0 #528ecc;
  outline: 0;
}
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents any unintended horizontal scroll */
  height: 100%; /* Ensures full height for the page */
  padding-bottom:11%
}


footer {
  height: 13%;
  margin-bottom: 0; /* Ensures no extra space from the footer */
}

.navbar, .footer {
  width: 100%; /* Ensures the navbar and footer do not extend */
  box-sizing: border-box; /* Includes padding and border in the element’s total width and height */
}

#rsp {
  display: none;
}

#mainNav{
  height: 7%;
}

@media (max-width: 430px) {
  .py-5 {
    padding-top:1vh!important;
    padding-bottom:1vh!important
  }
  .content {
    max-width: 100%; /* make the image responsive */
    max-height: 100%;
  }

  img {
    max-width: 100%; /* make the image responsive */
    max-height: 100%;
  }
  #imgContainer {
    max-width: 50%; /* make the image responsive */
    max-height: 50%;
  }

}

button[color="violet-atv"] {
  border-radius: 20px;      /* Makes the button more rounded */
  padding: 8px 16px;        /* Adjust button padding */
}


@media (max-width: 768px) {
  /* .footer { 
    display: none; 
  } */
  .py-5 {
    padding-top:1vh!important;
    padding-bottom:1vh!important
  }
  #rsp {
    display: none;
  }
  #mainNav{
    height: 10%;
  }
  .footer {
    min-height: min-content;
    margin-bottom: 0; /* Ensures no extra space from the footer */
  }

  .footer-text {
    font-size: 12px;
  }
  

}



@media (max-height: 500px) {

  #imgContainer {
    max-width: 20%; /* make the image responsive */
    max-height: 20%;
  }
  #ressourcesBtn{
    max-width: 18%; /* make the image responsive */
    max-height: 18%;
  }
  .footer { 
    display: none; 
  }
  #rsp {
    display:initial;
  }
  #mainNav{
    height: 16%;
  }
}