<nav class="navbar navbar-expand-lg fixed-top " id="mainNav">
  <div class="container-fluid px-4 content">
    <picture>
      <!-- For screens smaller than or equal to 768px wide, load the small image -->
      <!-- <source media="(max-width: 768px)" srcset="assets/banner/header-small.jpg"> -->

      <!-- For screens between 769px and 969px, load the medium image -->
      <source media="(max-width: 768px)" srcset="assets/banner/header-medium.jpg">

      <!-- For screens 970px or larger, load the large image -->
      <source media="(min-width: 1270px)" srcset="assets/banner/header.jpg">

      <!-- Default image for browsers that do not support <picture> -->
      <img src="assets/banner/header.jpg" alt="Banner" class="navbar-banner" id="headerImg"/>
    </picture>


    <!-- Overlay Navigation Links -->
    <div class="nav-links-container">
      <ul class="nav-links">
        <li><a style="cursor: pointer;" title="Resssources psychologiques" (click)="openDialog()">Ressources</a></li>
        <li><a style="cursor: pointer;" title="À propos"  (click)="openAbout()">À propos</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<footer class="footer">
  <div class="container-fluid px-4 content">
    <picture>
      <!-- For screens smaller than or equal to 768px wide, load the small image -->
      <!-- <source media="(max-width: 768px)" srcset="assets/banner/footer-small.jpg"> -->

      <!-- For screens between 769px and 1269px, load the medium image -->
      <source media="(max-width: 768px)" srcset="assets/banner/footer-medium.jpg">

      <!-- For screens 1270px or larger, load the large image -->
      <source media="(min-width: 1270px)" srcset="assets/banner/footer.jpg">

      <!-- Default image for browsers that do not support <picture> -->
      <img src="assets/banner/footer.jpg" alt="Banner" class="navbar-banner img-fluid"/>
    </picture>
    <!-- <picture>

      <source media="(max-width: 768px)" srcset="assets/banner/footer-small.jpg">
      <source media="(max-width: 969px)" srcset="assets/banner/footer-medium.jpg">
      <source media="(min-width: 970px)" srcset="assets/banner/footer.jpg">
      <img src="assets/banner/footer.jpg" alt="Banner" class="navbar-banner"  loading="lazy"/>
    </picture> -->
  </div>

  <!-- <img src="assets/banner/footer.jpg" alt="Footer Banner" class="navbar-banner" /> -->


</footer>

