/* General Resets */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

@font-face {
  font-family: haas;
  src: url(../assets/fonts/NeueHaasDisplayMediu.ttf) format("opentype");
}

#mainNav{
  height: 11%;
  width: 100%;
}

/* Navbar Styles */
.navbar {
  position: relative;
  width: 100%;
  padding: 0;
}

.navbar-banner {
  width: 100%;      /* Make it responsive */
  height: 100%;     /* Keep the image's aspect ratio */
  object-fit: cover; /* Ensures image fills the container */
  display: block;
  object-position: center; /* Centers the image content */
  flex-shrink: 0;
}

.navbar-banner, .navbar-banner {
  object-fit: cover;
  object-position: center; /* Centers the image */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-links-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: right;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(21, 49, 112, 0.7);
  padding: 5px 8px;
  border-radius: 5px;
}

.nav-text {
  flex-grow: 1;  /* Makes the text take up available space and center it */
  text-align: center; /* Centers the text */
  float: left;
  color: white;
  margin-right:25%;
  font-size: x-large;
  white-space: normal;
  font: haas;
  white-space: normal;  /* Ensures text can wrap onto multiple lines */
  word-wrap: break-word; /* Breaks long words if needed */
  padding: 10px; /* Optional: Adds padding to give space around the text */
  line-height: 1.8; /* Optional: Adjust line height for better readability */
  max-width: 100%;
  font-weight: lighter;
}

#logo {
  max-width: 100%;
  max-height: 100%;
}

.logo-container {
  padding:15px;
  margin-left: 5%;
  max-width: 20%;
  min-width: 20%;
  flex-shrink: 0;
}

.footer-text{
  font-weight:lighter;
  font-size:medium;
  margin: 0 auto; /* Centers the text horizontally */
  text-align: center; /* Ensures the text is centered within the width */
  width: 60%;
}

/* Button Styles */
.button {
  box-shadow: inset 0 1px 0 0 #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  color: #666666;
  font-family: haasBold;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-shadow: 0 1px 0 #ffffff;
  outline: 0;
}

.activebutton {
  box-shadow: inset 0 1px 0 0 #dcecfb;
  background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  border-radius: 6px;
  border: 1px solid #84bbf3;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-shadow: 0 1px 0 #528ecc;
  outline: 0;
}

.navbar, .footer {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Footer Styles */
.footer {
  position: relative;
  object-position: center; /* Centers the image */
  width: 100%;
  height: 13%;
  padding: 10px 0;
  overflow: hidden;
  text-align: center;
  background-color: #333;
}


/* Media Queries */

@media (max-width: 1080px) {
  .nav-text {
    font-size:large;
    line-height: 1.6; /* Optional: Adjust line height for better readability */
  }
  .logoContainer {
    max-width: 35%;
  }
}

@media (max-width: 768px) {
  .logo-container {
    max-width: 40%;
  }
  .py-5 {
    padding-top:1vh!important;
    padding-bottom:1vh!important
  }

  .nav-links a, .footer-links a {
    font-size: 14px;
    padding: 5px;
  }

  .nav-links-container {
    padding: 10px;
  }

  .nav-text {
    font-size:medium;
    line-height: 1.4; /* Optional: Adjust line height for better readability */
  }
}

@media (max-width: 580px) {
  .logo-container {
    margin-left: 0 ;
  }
  .footer {
    height: 15%;
  }
  .footer-text{
    width: 100%;
    line-height: 1.2;
    font-size: small;
  }

  .nav-links{
    flex-direction: column;
  }

  .nav-links li {
    margin: 5px 0;
  }

  .nav-links a {
    font-size: 12px;
    padding: 5px 8px;
  }
  .nav-links-container {
    padding: 5px;
  }

  .nav-text {
    font-size: small;
    line-height:1; /* Optional: Adjust line height for better readability */
    width: 100%;

  }


}
@media (max-height: 500px) {
  #mainNav {
    height: 18%;
  }


}
