

@charset "UTF-8";body,html{height:100%}body{margin:0;font-family:haas}.full-width{width:100%}

 :root {
  --bleu-atv: #1F1750;
  --bleu-pale-atv: #342979;
  --beige-atv: #EDEDDD;
  --blanc-atv: #FFFFFF;
  --violet-atv: #7770ED;
  --violet-pale-atv: #9494FE;
}

@font-face {
  font-family: haas;
  src: url(assets/fonts/NeueHaasDisplayMediu.ttf) format("opentype");
}
@font-face {
  font-family: haasBold;
  src: url(assets/fonts/NeueHaasDisplayBold.ttf) format("opentype");
}


  html * {
    font-family: haas;
  }

  .bold {
    font-family: haasBold !important;
    /* text */
  }




  .ol-custom-button {
    position: absolute !important;
    float: left !important;
    height: 3vh !important;
    width: 3vh !important;
  }
    
  #checkboxesDiv {
    margin-top: 10%;
  }
   /* Change the button position */
 .ol-geocoder.gcd-gl-container{
    position: absolute !important;
    float: left !important;
    height: 26.75px !important;
    width: 26.75px !important;
    margin-top: 10% !important;
  }

 .ol-zoom.ol-unselectable.ol-control {
    margin-top: 10% !important;
 }

 .bleu-atv {
  background-color: var(--bleu-atv) !important;
 }
 .beige-atv {
  background-color: var(--beige-atv) !important;
 }
 .blanc-atv {
  background-color: var(--blanc-atv) !important;
 }
 .violet-atv {
  background-color: var(--violet-atv) !important;
 }
 .violet-pale-atv {
  background-color: var(--violet-pale-atv)  !important;
 }

 .text-bleu-atv {
  color: var(--bleu-atv) !important;
 }
 .text-violet-pale-atv {
  color: var(--violet-pale-atv)  !important;
 }



 .centered{
  justify-content: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  .mdc-button.mat-bleu-atv,
  .mat-mdc-stroked-button.mat-bleu-atv {
    color: var(--bleu-atv);
  }
  .mat-mdc-unelevated-button.mat-bleu-atv:hover,
  .mat-mdc-raised-button.mat-bleu-atv:hover {
    color: var(--blanc-atv) ;
    background-color: #3a2f86;
  }

  .mat-mdc-unelevated-button:not(:disabled, :hover).mat-bleu-atv,
  .mat-mdc-raised-button.mat-bleu-atv,
  .mat-mdc-fab.mat-bleu-atv,
  .mat-mdc-mini-fab.mat-bleu-atv {
    color: var(--blanc-atv) ;
    background-color: var(--bleu-atv);
  }
  .mat-mdc-icon-button.mat-bleu-atv {
    color: var(--bleu-atv);
  }

  .mdc-button.mat-bleu-atv,
  .mat-mdc-stroked-button.mat-bleu-atv {
    color: var(--bleu-atv);
  }
  .mat-mdc-unelevated-button.mat-bleu-atv:hover,
  .mat-mdc-raised-button.mat-bleu-atv:hover {
    color: var(--blanc-atv) ;
    background-color: var(--bleu-pale-atv);
  }

  .mat-mdc-unelevated-button:not(:disabled, :hover).mat-bleu-atv,
  .mat-mdc-raised-button.mat-bleu-atv,
  .mat-mdc-fab.mat-bleu-atv,
  .mat-mdc-mini-fab.mat-bleu-atv {
    color: var(--blanc-atv) ;
    background-color: var(--bleu-atv);
  }
  .mat-mdc-icon-button.mat-bleu-atv {
    color: var(--bleu-atv);
  }

  /**/

  .mdc-button.mat-violet-atv,
  .mat-mdc-stroked-button.mat-violet-atv {
    color: var(--violet-atv);
  }
  .mat-mdc-unelevated-button.mat-violet-atv:hover,
  .mat-mdc-raised-button.mat-violet-atv:hover {
    color: var(--blanc-atv) ;
    background-color: #3a2f86;
  }

  .mat-mdc-unelevated-button:not(:disabled, :hover).mat-violet-atv,
  .mat-mdc-raised-button.mat-violet-atv,
  .mat-mdc-fab.mat-violet-atv,
  .mat-mdc-mini-fab.mat-violet-atv {
    color: var(--blanc-atv) ;
    background-color: var(--violet-atv);
  }
  .mat-mdc-icon-button.mat-violet-atv {
    color: var(--violet-atv);
  }

  .mdc-button.mat-violet-atv,
  .mat-mdc-stroked-button.mat-violet-atv {
    color: var(--violet-atv);
  }
  .mat-mdc-unelevated-button.mat-violet-atv:hover,
  .mat-mdc-raised-button.mat-violet-atv:hover {
    color: var(--blanc-atv) ;
    background-color: var(--violet-pale-atv);
  }

  .mat-mdc-unelevated-button:not(:disabled, :hover).mat-violet-atv,
  .mat-mdc-raised-button.mat-violet-atv,
  .mat-mdc-fab.mat-violet-atv,
  .mat-mdc-mini-fab.mat-violet-atv {
    color: var(--blanc-atv) ;
    background-color: var(--violet-atv);
  }
  .mat-mdc-icon-button.mat-violet-atv {
    color: var(--violet-atv);
  }
}

/* Round the entire mat-form-field */
.rounded-field {
  border-radius: 16px; /* Adjust this value as needed */
  overflow: hidden; /* Prevents content from overflowing the corners */
}

/* Ensure all inner elements also have rounded corners */
.rounded-field .mat-form-field-flex {
  border-radius: 16px; /* Round the inner content */
}

/* Hide the outline for filled appearance */
.rounded-field .mat-form-field-underline {
  display: none; /* Remove underline */
}

/* Hide outline for the outline appearance */
.rounded-field .mat-form-field-outline {
  display: none; /* Remove outline */
}

/* Round the input field */
.rounded-field input.mat-input-element,
.rounded-field textarea.mat-input-element {
  border-radius: 16px; /* Round the input and textarea */
}

/* Round the select trigger */
.rounded-field .mat-select-trigger {
  border-radius: 16px; /* Round the select trigger */
}


@media (max-width: 768px) {
/* Change the button position */
.ol-geocoder.gcd-gl-container{
  position: absolute !important;
  float: left !important;
  height: 3vh!important;
  width: 3vh !important;
  margin-top: 30% !important;
}

.ol-zoom.ol-unselectable.ol-control {
  margin-top: 30% !important;
}

#checkboxesDiv {
  margin-top: 30%;
}

}

@media (max-width: 430px) {
/* Change the button position */
.ol-geocoder.gcd-gl-container{
  position: absolute !important;
  float: left !important;
  height: 3vh!important;
  width: 3vh !important;
  margin-top: 40% !important;
}

.ol-zoom.ol-unselectable.ol-control {
  margin-top: 40% !important;
}

#checkboxesDiv {
  margin-top: 40%;
}

}


@media (max-height: 500px) {
  /* Change the button position */
  .ol-geocoder.gcd-gl-container{
    position: absolute !important;
    float: left !important;
    height: 3vh!important;
    width: 3vh !important;
    margin-top: 15% !important;
  }

  .ol-zoom.ol-unselectable.ol-control {
    margin-top: 15% !important;
  }

  #checkboxesDiv {
    margin-top: 15%;
  }



}

